<h2 [align]="'center'">Edit</h2>
<div mat-dialog-content [align]="'center'">
    <form [formGroup]="urlForm" (ngSubmit)="editUrl()">
        <p>
            <mat-form-field appearance="legacy">
                <mat-label>Url Code</mat-label>
                <input formControlName="url_code" matInput>
            </mat-form-field>
        </p>
        <div mat-dialog-action [align]="'center'">
            <button class="button-default" mat-raised-button mat-dialog-close color="warn">Close</button>
            <button class="button-default" mat-raised-button color="primary" [disabled]="!urlForm.valid"
                type="submit">Edit</button>
        </div>
    </form>
</div>